<link rel="stylesheet"  href="/static/front.css">


<h1>buttons and links</h1>

<h2>buttons</h2>

<button class="btn-shadow">Download Tender</button>

<button class="btn-shadow"> button shadow</button>

<button class="btn-shadow"> button shadow</button>

<button class="btn-shadow"> button shadow</button>

<button class="btn-shadow"> button shadow</button>

<h2>links</h2>

<a href="#" class="link-thick">link with thick underline</a>

<a href="#" class="link-thick-background">link with thick underline and background on hover</a>

<a href="#" class="link-background">link with background</a>