<div class= "main-wrapper">
  <button class= "up-down"><i class="fa fa-angle-up"></i></button>
  <div class= "header"> <!-- div 1-->
    <div class= "navbar">
     <span id= "logo-name-1">Quebec</span>
   <span id= "logo-name-2">Academics</span>
      <ul>
        <li><a href= "#">New Student</a></li>
        <li><a href= "#">Sign Up !</a></li>
      </ul>
    </div>
    <div class= "intro">
    <span id= "spn-1">
      <h1> Welcome<br/> to<br/> FoodCubo</h1>
      </span>
      <div class= "search">
        <input type= "text" size= "35" placeholder= "enter address">&nbsp;<button>find food &nbsp;<i class= "fa fa-map-marker-alt"></i></button>
      </div>
  </div>
  </div>
  <div class= "service"><!-- div 2-->
    <h1> cuisines</h1>
    <div class= "image">
    <div class= " item-1">
      <div class= "item">
        <span>Indian</span>  
      </div>
    </div>
    <div class= " item-2">
    <div class= "item">
        <span>Mexican</span>  
      </div>
      </div>
    <div class= "item-3">
  <div class= "item">
        <span>Desserts</span>  
      </div>
      </div>
    <div class= "item-4">
    <div class= "item">
        <span>Italian</span>  
      </div>
      </div>
    </div>
    <span id= "spn-3"> many more</span>
  </div>
  <div class= "footer"><!-- div 3-->
    <div class= "logo"></div>
    <div class= "general">
      <ul>
        <li><a href= "#">About</a></li>
        <li><a href= "#">How it Works ?</a></li>
        <li><a href= "#">Blog</a></li>
        <li><a href= "#">Contact Us</a></li>
      </ul>
      <span> Social Media:
        <div class= "icons">
        <i class="fab fa-instagram fa-xs"></i>
          <i class="fab fa-facebook-f fa-xs"></i>
          <i class="fab fa-twitter fa-xs"></i>
          </div>
        </span>
    </div>
  </div>

  <span id= "spn-4"><i class= "fa fa-copyright"></i>
  &nbsp; Copyrights to : FoodCuBo
  </span>
</div>