
<html>
<head>
	<title> Home </title>

	<link rel="stylesheet" media="screen and (min-width: 800px)" href="/static/home.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<center>
	<div id="container" >
		<div id="head">
			
				<center>
<div id="head1">
  
	<img src="/static/BML.png" height=9% width=20% align="left" >
</center>

	<br> 
	<br>
  <font face="segoe UI" size=6 align="left"> Bharat Earth Movers Limited </font>

	<a href="1p.html" >
	<button type="button" class="btn btn-primary" > 
	Home </button>
	</a> &nbsp; &nbsp;
	<a href="/chatbot" target="_blank" >
	<button type="button" class="btn btn-primary"> 
	ChatBot </button>
	</a> &nbsp; &nbsp;
	<a href="about.html" >
	<button type="button" class="btn btn-primary"> 
	About </button>
	</a>
	</center>
</div>
 &nbsp; &nbsp;
	
	<br>	
		</div>
	
</center>
		


<center>
			<div id="Mid">
			
			<div id="body_main" > 
			<center>
			<img src="/static/ep.jpg" height=60% width=100% hspace=2  >
</center>

				 <b> 
					<p align=left>
						<div id="mii" >
					<h2> BEML LIMITED : A Miniratna Category-1 Company </b></h2>
			</div>

				<hr height=12px shade=black >
				
</font>




<font size=5px color=#545534 align="left" family="serif" >
	<p align=left >
				<a href="/req1" >  1. Pre-requisites for using BEML website </a> <br clear="all"  >
				Before using the BEML website the user needs to have a few softwares in his or her system, and also the site-compatible browser, i.e Internet explorer. The link to download and other information related to these softwares is provided on the above link. 
				 <p align=left >

				<a href="/req2" >  2. View or download tenders </a> <br clear="all"  >
				The steps to view and download the tenders present on the website are provided here. Click to know more!

				<p align=left >

				<a href="/req3" >  3. Bidding submission procedures  </a> <br clear="all"  >
				There are two kinds of bidding system, namely :
				<p align=left >
				<ul>
					<li> <a href="req3" >Single stage bidding </a> </li>
					<ul> <li> Click above to know more! </li> </ul>
					<li> <a href="req4"> Two stage bidding</a> </li>
					<ul> <li> Click above to now more! </li> </ul>
				</ul>



				<p align=left >
				<a href=4.html >  4. Online vendor payment tracking  </a> <br clear="all"  >
				<a href="#" >  5. How to view Price bid status? </a> <br clear="all"  >
				<a href=6.html >  6. Manual for technical compliance details </a> <br clear="all"  >



				</font>
</p>
</div>
</div>
		 </div>
		 <center>
		<div id="footer" >
			<font size=5px >
			<center>
			<a href=# > Feedback</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;<a href=# >Legal Disclaimer
			</a>
			<br>
			Copyright @ 2009 BEML - All rights reserved
			<br>

		 </div>
	
</body>
</html>