<html>
<head>
	<title> Page 1 : Home </title>
<link rel="stylesheet" href="home.css" type="text/css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<center>
	<div id="container" >
		<div id="head">
			<p align="left" >
				
<div id="head1"> 
	<img src="BML.png" height=80% width=30% hspace=10 vspace=10 align="left" >


	<br> 
	<br>
	<a href="1p.html" >
	<button type="button" class="btn btn-primary" > 
	Home </button>
	</a> &nbsp; &nbsp;
	<a href="contact.html" >
	<button type="button" class="btn btn-primary"> 
	Contact </button>
	</a> &nbsp; &nbsp;
	<a href="about.html" >
	<button type="button" class="btn btn-primary"> 
	About </button>
	</a>
	</center>
</div>
 &nbsp; &nbsp;
	
			
		</b>

		</div>
	
</center>
		


<center>
			<div id="Mid">
			
			<div id="body_main" > 
			<center>
			<img src="ep.jpg" height=60% width=100% hspace=2  >
</center>

				 <b> 
					<p align=left>
						<div id="mii" >
					<h2> BEML LIMITED : A Miniratna Category-1 Company </b></h2>
			</div>

				<hr height=12px shade=black >
				
</font>




<font size=5px color=#545534 align="left" family="serif" >
	<p align=left >
				<a href="1.html" >  1. Pre-requisites for using BEML website </a> <br clear="all"  >
				Before using the BEML website the user needs to have a few softwares in his or her system, and also the site-compatible browser, i.e Internet explorer. The link to download and other information related to these softwares is provided on the above link. 
				 <p align=left >

				<a href="2.html" >  2. View or download tenders </a> <br clear="all"  >
				The steps to view and download the tenders present on the website are provided here. Click to know more!

				<p align=left >

				<a href=3.html >  3. The two kinds of bid submissions and how to make them!  </a> <br clear="all"  >
				There are two kinds of bidding system, namely :
				<p align=left >
				<ul>
					<li> Single stage bidding </li>
					<ul> <li> Blahhhhhhhhhhhh </li> </ul>
					<li> Two stage bidding </li>
					<ul> <li> Blahhhhhhhhjjgff ghfhhhhh </li> </ul>
				</ul>



				<p align=left >
				<a href=4.html >  4. Online vendor payment tracking  </a> <br clear="all"  >
				<a href=5.html >  5. How to view Price bid status? </a> <br clear="all"  >
				<a href=6.html >  6. Manual for technical compliance details </a> <br clear="all"  >



				</font>
</p>
</div>
</div>
		 </div>
		 <center>
		<div id="footer" >
			<font size=5px >
			<center>
			<a href=# > Feedback</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;<a href=# >Legal Disclaimer
			</a>
			<br>
			Copyright @ 2009 BEML - All rights reserved
			<br>

		 </div>
	
</body>
</html>