
<html>
<head>
  <title> Bidding submission </title>

  <link rel="stylesheet" media="screen and (min-width: 800px)" href="/static/home.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <center>
  <div id="container" >
    <div id="head">
      
        <center>
<div id="head1">
  
  <img src="/static/BML.png" height=9% width=20% align="left" >
</center>

  <br> 
  <br>
  <font face="segoe UI" size=6 align="left"> Bharat Earth Movers Limited </font>

	<a href="1p.html" >
  <button type="button" class="btn btn-primary" > 
  Home </button>
  </a> &nbsp; &nbsp;
  <a href="contact.html" >
  <button type="button" class="btn btn-primary"> 
  Contact </button>
  </a> &nbsp; &nbsp;
  <a href="about.html" >
  <button type="button" class="btn btn-primary"> 
  About </button>
  </a>
  </center>
</div>
 &nbsp; &nbsp;
  
  <br>  
    </div>
  
</center>
    


<center>

<center>
			<div id="Mid">
			
			<div id="body_main" > 
			<center>
<br>

			<img src="/static/ep.jpg" height=60% width=100% hspace=2 vspace=5  >
</center>

				 <b> 
					<p align=left>
						<div id="mii" >
					<h2> BEML LIMITED : A Miniratna Category-1 Company </b></h2>
			</div>

				
				
</font>



<div id="img1" >
<h2> DOUBLE STAGE BIDDING - Process to submit a two stage bid </h2> 
	<h3> <b>1. VIEWING REQUIRED TENDER </h3> </b>
  <hr width=80% >
	<p align=left > 
		<font size=5px color=#545345 align="left" family="serif" >
	 To view or download tenders, first   the BEML website and click on <u>'SUPPLIERS' </u>. From the drop down that appears, select <u>eProcurement</u> which will lead to the log in page. Log in to see your required tender. Please wait untill all the tenders are loaded. (Do not click on any button,it may takes sometime)
   <br>
   Now we are looking for particular tender. <br>
	
</div>

<div id="img" >
<div class="container.fluid">

      <div class="item">
        <img src="/static/21.png" alt="yyy" style="width:100%;">
      </div>
  </div>
</div>




<div id="img1" >

  <h3> <b>2. PRICE DETAILS </h3> </b>
  <p align=left > 
    <font size=5px color=#545345 align="left" family="serif" >
   Click on 'RFx number' -> Register -> Create response -> Enter the terms of payment -> 
   Search -> Select L048 (100% in 60 days from D.O. receipt of material ) click on shown number(L048) 
   -> IncoTerm (Related to delivery) -> select FOR and fill the BEML location. 
   
    After that click on 'C-Folder Technical Attachments' (To upload all the technical attachments <b> and nothing price related </b> ) -> Add attachment -> Browse (Uploading file size should be less than <u> 5 MB </u>). There is no limit to the number of files being uploaded.
    <P>
    After completion of the above details click on Price Condition and fill the appropriate value of <p align="left" > <ol align=left > <li> Base Price <li> SGST (%) <li> IGST (%) <li> CGST (%)
      <br>
      If you want to enter some notes/remarks(not compulsory)  -> Click on 'Notes and Price Attachment' -> Add 'Remarks and if some attachment' -> Add attachment. If 'Price condition' tab is not present -> Click on 'Items' tab. <br>


</div>

<div id="img" >
<div class="container.fluid">

      <div class="item">
        <img src="/static/22.png" alt="yyy" style="width:100%;">
      </div>
  </div>
</div>


<div id="img1" >

  <h3> <b>3. DIGITAL SIGNATURE </h3> </b>
  <p align=left > 
    <font size=5px color=#545345 align="left" family="serif" >
  After adding notes and attachments click on Check -> Save -> Digital signature opens.
  <b> Always use Class 3 Digital Signature </b> organisation with signing and encryption,with Java running in the background.
    <p>
      Once Java running prompt disappears, select Encrypt bid -> Edit -> Decrypt bid -> Enter Pin. <br>
      
  <br>
  
</div>

<div id="img" >
<div class="container.fluid">

      <div class="item">
        <img src="232.png" alt="yyy" style="width:100%;">
      </div>
  </div>
</div>

<div id="img1" >

<h2> 4. CONFIRMATION </h2>
  <p align=left > 
    <font size=5px color=#545345 align="left" family="serif" >
  After this, a confirmation message of successful/unsuccessful submission is sent. Click OK and <b> encrypt bid</b>.
  Now go to your particular tender in main menu to see the confirmation staus of bid-> Click on refresh button. <P>
    To redit or re-submit, click on response number, then on edit. Do required changes and submit again. 


<div id="img" >
<div class="container.fluid">
    
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/static/23.png" alt="xxx" style="width:100%;">
      </div>

      <div class="item">
        <img src="/static/24.png" alt="yyy" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="/static/26.png" alt="zzz" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>







  

<div id="img" >
<div class="container.fluid">

      <div class="item">
        <img src="/static/25.png" alt="yyy" style="width:100%;">
      </div>
  </div>
</div>



</div>











</p>

</div>
		 </div>

		 </div>




		 <center>
		 	<hr width=80% >
		<div id="footer" >
			<center>
			<a href=# > Feedback</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;<a href=# >Legal Disclaimer
			</a>
			<br>
			Copyright @ 2009 BEML - All rights reserved
			<br>

		 </div>
	</center>

</body>
</html>