<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <link rel="stylesheet"  href="/static/tender.css">
</head>
<body>

    <script type="text/javascript">
        function popupOpenClose(popup) {

  /* Add div inside popup for layout if one doesn't exist */
  if ($(".wrapper", popup).length == 0) {
    $(popup).wrapInner("<div class='wrapper'></div>");
  }

  /* Open popup */
  $(popup).show();

  /* Close popup if user clicks on background */
  $(popup).click(function(e) {
    if (e.target == this) {
      if ($(popup).is(':visible')) {
        $(popup).hide();
      }
    }
  });

  /* Close popup and remove errors if user clicks on cancel or close buttons */
  $(popup).find(".popup-btn-close").on("click", function() {
    if ($(".formElementError").is(':visible')) {
      $(".formElementError").remove();
    }
    $(popup).hide();
  });
}

$(document).ready(function() {
  $(".popup-trigger").on("click", function() {
    var target = $(this).data('target');
    popupOpenClose($(target));
  });
});
    </script>

<div class="container">
  <h1>Steps Here</h1>
  <a class="popup-trigger" data-target="#popup1">Open PopUp 1</a>
  <a class="popup-trigger" data-target="#popup2">Open PopUp 2</a>
  <a class="popup-trigger" data-target="#popup1">Open PopUp 1</a>
  <a class="popup-trigger" data-target="#popup2">Open PopUp 2</a>
  <a class="popup-trigger" data-target="#popup1">Open PopUp 1</a>
  <a class="popup-trigger" data-target="#popup2">Open PopUp 2</a>
</div>

<div id="popup1" class="popup">
  <div class="popup-text">This is my popup 1</div>
   <table rows=1 column=2 >
    <col width="500">
    <th>
        <tr> <td>IMG </td> <td><img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="Italian Trulli" width="300">
        <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="Italian Trulli" width="300">
      </td> </tr>
    </th>
</table>
  
  <span class="popup-btn-close">&times;</span>
</div>
<div id="popup2" class="popup">
  <div class="popup-text">This is my popup 2</div>
  <span class="popup-btn-close">&times;</span>
</div>
</body>
</html>
